:root {
  --font-family: Figtree, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
  --title-font-family: Poppins, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font-family);
}

a, p, span {
  font-family: var(--font-family);
  font-size: 16px;
}

code {
  background-color: var(--grey-background-color);
  font-size: 16px;
  padding: 1px;
  line-height: 24px;
}

.app {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
}

.banner {
  display: flex;
  align-items: center;
}

.banner__letters {
  font-family: var(--title-font-family);
  font-size: 32px;
  font-weight: bold;
}

.nav-bar {
  padding: 0;
}

.nav-bar ul {
  padding: 0;
  height: unset !important;
  border-top: 1px solid transparent;
  border-bottom: 2px solid;
  border-bottom-color: var(--ui-background-color);
}

.nav-bar li {
  border: none;
}

.table-container {
  width: fit-content;
  max-width: 100%
}

.table-container--spaced {
  margin-top: 64px;
}

.table-row {
  height: unset;
  min-height: var(--table-row-size);
}

.table-cell--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-cell__label {
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  word-break: break-all;
}

.link-modal__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.monday-storybook-toast {
  position: fixed;
  top: 16px;
  right: 16px;
  left: unset;
  width: 380px;
  z-index: 1000;
}

.monday-storybook-toast:first-of-type {
  margin-top: 0;
}

.fail-screen, .loading-screen {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.setup-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 620px;
  margin: 0 auto;
  padding: 48px 0;
}

.setup-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  margin-top: 40px;
}

.coming-soon {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.table-dropdown {
  width: 100%;
}
